# Sb Windows
Thumbs.db

# HMCL
assets/**
libraries/**
logs/**
resourcepacks/**
saves/**
versions/**
launcher_profiles.json
options.txt
usercache.json
usernamecache.json

# forge
config/fml.toml
config/forge-client.toml
config/forge-common.toml

# jei
config/jei

# kubejs
.vscode/probe.code-snippets
rhino.local.properties